* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* padding: 20px; */
    font-family: sans-serif;
}

#scrollContainer {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    position: relative;
    border: 1px solid #ccc;
}

#fakeContent {
    max-height: calc(100000 * 20px); /*🚨 2 million pixels tall */
    max-width: calc(1000 * 50px);
}

#container canvas {
    position: absolute;
    top: 30px;
    left: 70px;
    z-index: 10;
}

#rowHeader canvas {
    position: absolute;
    z-index: 11;
    background-color: rgb(227, 236, 234);
    top: 30px;
}

#colHeader canvas {
    position: absolute;
    z-index: 11;
    background-color: rgb(227, 236, 234);
    left: 70px;
}

#topLeft {
    position: absolute;
    z-index: 13;
    background-color: rgb(227, 236, 234);
    height: 30px;
    width: 70px;
    border: 1px solid #ccc;
}
