* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: sans-serif;
}

#scrollContainer {
    width: 95%;
    height: 600px;
    overflow: auto;
    position: relative;
    border: 1px solid #ccc;
}

#fakeContent {
    max-height: calc(100000 * 20px); /*🚨 2 million pixels tall */
    max-width: calc(1000 * 50px);
}

#container canvas {
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 10;
}

#rowHeader canvas{
    position: absolute;
    z-index: 11;
    background-color: rgb(227, 236, 234);
}